{{block "contacts" .}}
<div hx-boost="true" id="content">
    <a href="/contacts/new">Create Contact</a>
    <p class="m-2">
        <form action="/contacts" method="get">
            <label for="search">Search</label>
            <input id="search" {{ if .QueryString }} value="{{ .QueryString }}" {{end}} name="q" placeholder="Search"
                hx-push-url=true
                hx-get="/contacts"
                hx-trigger="change, keyup delay:200ms changed"
                hx-target="#contacts"
                hx-push-url="true"
                />
            <input type="submit" value="Search"/>
        </form>
    </p>
    {{ template "contact-list" . }}
</div>
{{end}}

{{block "contact-list" .}}
    <div id="contacts" class="flex">
        <div class="flex-row gap-2">
            <div>Select</div>
            <div>Name</div>
            <div>Phone</div>
            <div>Email</div>
            <div>Edit</div>
            <div>Delete</div>
        </div>
        {{range .Contacts}}
            <div class="contact-item flex-row gap-2">
                <div>
                    <input type="checkbox" name="contact-selected" value="{{.Id}}" />
                </div>
                <div>{{.Name}}</div>
                <div>{{.Phone}}</div>
                <div>{{.Email}}</div>
                <a href="/contacts/{{.Id}}">Edit</a>
                <button
                    hx-swap="outerHTML swap:1s"
                    hx-target="closest .contact-item"
                    hx-delete="/contacts/{{.Id}}">Delete</button>
            </div>
        {{end}}
    </div>
{{end}}

{{block "new-contact" .}}
<!DOCTYPE html>
<html lang="en">
    {{ template "header" . }}
    <body>
        {{ template "nav" . }}
        <div id="content">
            <form hx-target="body" hx-push-url="true" {{if .Existing }} hx-put="/contacts/{{ .Contact.Id }}" {{else}}hx-post="/contacts/new"{{end}}>
                <p class="m-2">
                    <label for="name">Name</label>
                    <input name="name" {{if .Contact}}value="{{ .Contact.Name }}" {{end}} placeholder="John Doe" />

                    {{ if .Errors.name }}
                    <div class="error text-red-600">
                            {{ .Errors.name }}
                    </div>
                    {{end}}
                </p>

                <p class="m-2">
                    <div class="flex-row">
                        <label for="email">Email</label>
                        <input name="email"
                            {{if .Contact}}value="{{ .Contact.Email }}" {{end}}
                            placeholder="example@foo.com"
                            hx-post="/contacts/email"
                            hx-trigger="keyup changed delay:200ms"
                            hx-target="next .error"
                            hx-push-url="false"
                        />

                        <div class="error">
                            {{ if .Errors.addr1 }}
                                {{ .Errors.addr1 }}
                            {{end}}
                        </div>

                    </div>
                </p>


                <p class="m-2">
                    <label for="phone">Phone</label>
                    <input name="phone" {{if .Contact}}value="{{ .Contact.Phone }}" {{end}} placeholder="(555) 555 - 5555" />
                    {{ if .Errors.phone }}
                    <div class="error">
                            {{ .Errors.phone }}
                    </div>
                    {{end}}
                </p>


                <p class="m-2">
                    <label for="addr1">Address Line 1</label>
                    <input name="addr1" {{if .Contact}}value="{{ .Contact.AddressLine1 }}" {{end}} placeholder="Address Line 1" />
                    {{ if .Errors.addr1 }}
                    <div class="error">
                            {{ .Errors.addr1 }}
                    </div>
                    {{end}}
                </p>


                <p class="m-2">
                    <label for="addr2">Address Line 2</label>
                    <input name="addr2" {{if .Contact}}value="{{ .Contact.AddressLine2 }}" {{end}} placeholder="Address Line 2" />
                    {{ if .Errors.addr2 }}
                    <div class="error">
                            {{ .Errors.addr2 }}
                    </div>
                    {{end}}
                </p>


                <p class="m-2">
                    <button type="submit">{{if .Existing}}Save{{else}}Create{{end}}</button>
                </p>
            </form>
        <div>
    </body>
</html>
{{end}}
