{{ block "main-controls" . }}
<form id="main-menu">
    <div class="menu">
        <label for="frame-count">Frame Count</label><span class="frame-count">0</span>

        <input hidden type="text" class="frame-count-input" name="frame-count" value="0" />
        <input hidden type="text" class="seed-input" name="seed" value="0" />
        <input hidden type="text" class="seed-input-at" name="seed-at" value="0" />
        <input hidden type="text" name="columns" value="{{ .Columns }}" />

        <label for="pace">Speed (ms)</label><input type="number" class="pace" name="pace">

        <button onclick="window.controls.run()" type="button" id="generate">Start</button>
        <button disabled onclick="window.controls.pause()" type="button" class="pause">Pause</button>

        <button hx-post="/save" type="submit">Save Original</button>
        <button hx-post="/saveAt" type="submit">Save At Frame</button>

        <div hx-on:change="console.log('changed')" class="message"></div>

    </div>
</form>
{{end}}

{{ block "main-conway" . }}
    {{ template "main-controls" . }}
    <div id="conway-area"></div>
    <script>
        window.grid.initGrid(document.getElementById("conway-area"), {{ .Columns }});
        window.controls.initControls(document.getElementById("main-menu"), {{ .Columns }}, window.grid);

        {{ if .Conway }}
            window.controls.seed({{ .Conway.Seed }}, 40);
        {{ end }}

    </script>
{{ end }}

{{ block "saved-conway" . }}
    {{ if .Error }}
        <p>{{ .Error }}</p>
    {{ else }}
        {{ range .Conways }}
            <div id="{{.Id}}" class="saved-conway">
                {{ .Id }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}
