{{ block "main-controls" . }}
<form hx-post="/save" id="main-menu">
    <input disabled type="text" class="seed" name="seed" value="0x0" />
    <input disabled type="text" class="frame-count" name="frame-count" value="0" />
    <label for="pace">Speed (ms)</label><input hx-on:change="window.controls.pace(this)" value="250" type="number" name="pace">
    <button onclick="window.controls.start()" type="button" id="generate">Start</button>
    <button disabled onclick="window.controls.pause()" type="button" class="pause">Pause</button>
    <button type="submit">Save</button>
</form>
{{end}}

{{ block "main-board" . }}
<div id="conway">
    {{range $y := loop 0 49 }}
        {{range $x := loop 0 49 }}
            <span class="cell-{{ $y }}-{{ $x }} cell dead" hx-on:mousedown="controls.toggleCell(this)"></span>
        {{- end}}
    {{- end}}
</div>
{{ end }}

{{ block "main-conway" . }}
    {{ template "main-controls" . }}
    {{ template "main-board" . }}
    <script>window.controls.start(document.getElementById("main-menu"), document.getElementById("conway"))</script>
{{ end }}

{{ block "saved-conway" . }}
    {{ if . }}
        <p>implement this you bastard</p>
    {{ else }}
        <p>No saved conways.  Please create some and start from there!</p>
    {{ end }}
{{ end }}
