{{ block "saved-page" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
        <script src="/dist/bundle.js"></script>
    </head>
    <body>
        {{ template "nav" . }}
        {{ template "saved-conway" . }}
    </body>
</html>
{{ end }}

{{ block "saved-msg" . }}
    {{ if .Success }}
        <span class="saved">{{ .Success }}</span>
    {{ else }}
        <span class="error">{{ .Error }}</span>
    {{ end }}
{{ end }}
